# Entornos virtuales
.venv/
venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# SQLite
data/*.db
data/*.db-shm
data/*.db-wal
data/*.sqlite
data/*.sqlite3

# Pruebas
.pytest_cache/
.coverage
htmlcov/

# Herramientas
.mypy_cache/
.ruff_cache/

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db